body{
  background-color: aqua;
}
@keyframes countUp {
  0% {
      content: "0%";
  }
  10% {
      content: "10%";
  }
  20% {
    content: "20%";
  }
  30% {
      content: "30%";
  }
  40% {
      content: "40%";
  }
  50% {
    content: "50%";
  }
  60% {
      content: "60%";
  }
  70% {
      content: "70%";
  }
  80% {
      content: "80%";
  }
  90% {
      content: "90%";
  }
  100% {
      content: "100%";
  }
}

.satified_client {
  font-size: 24px;
  color: black;
  transition: color 2.5s ease;
}

.visible{
  .satified_client{
    color: red;
  }
}
